@model AdmissionManagementSystem.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<head>
    <title>Change password</title>
</head>
<h2>Change password</h2>


