
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
@if (Session["Username"] != null)
{
    <html>
    <head>
        <title>Student home</title>
    </head>
    <body>
        <div class="row"><h2>Welcome @Session["Username"]!</h2><br /></div>
        <hr />
        <div class="row-content" style="display: block; margin-right: -0.75rem; margin-left: -.1px;">
            <hr style="color:dimgrey; width:100%" />
            <h3>The future is calling!!</h3>
            <p>Harness your curiosity and learn about the world—and yourself. Through our technical and sciences curriculum, you'll discover how to use your passions to build a bright future.</p>
            <img src="~/Content/Images/clg1.jpeg" style="margin-left:250px;" /> <br />
            <p>
                Each program has admission requirements. When you apply for a program, you need to show that you meet all the requirements. You can do this with supporting documents such as certificates and transcripts.

                Supporting documents demonstrate that you are qualified to study in your program of choice and can strengthen your application for a program if it is in high demand.

                Upload your supporting documents directly to education section of your profile.

                Submit as many of the documents listed in the admission requirements when you start your application. If you don't have a document you can still submit the application, but you will not be a accepted into the program until we have all the documentation required.
            </p>
        </div>
    </body>
</html>

}
else
{
Layout = null;
<p>Session expired</p>
}
