
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!-- Content Row -->
<div class="row">
    <p>
        <b>Getting Started:</b>
        <br />
        To get started, explore the quick links on the sidebar, where you can manage courses, review applications, and access student records.
    </p>
    <img src="~/Content/Images/c2.jpg" style="width:100%; height:500px; margin-bottom:0px;" />
</div>
