
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<html>
<head>
    <link href="~/Content/CSS/About.css" rel="stylesheet" />
    <title>About us</title>
</head>
<body>
    <div class="container">
        <div class="banner">
            <img src="~/Content/Images/ab1.jpg" />
        </div>
        <div class="content">
            <div class="title">
                <h1>About us</h1>
            </div>
            <div class="details">
                <div class="details-text">
                    <p>
                        <img src="~/Content/Images/ab.jpg" />
                        The ABC College of Engineering, Trivandrum was established in 1939 as the first Engineering College in the then Travancore State. The first classes were started on 3rd  July 1939 during the reign of the Travancore King, Sri Chithira Thirunal Balarama Varma and as the head of the then Travancore state he deserves his share of credit in the establishment of the college. Initially the College was housed in the former office and bungalow of the Chief Engineer (present PMG Office). Maj T.H. Mathewman, a Britisher was the first Principal. Started as a constituent College of Travancore University, the College had an initial intake of 21 students each for Degree and Diploma courses in Civil, Mechanical and Electrical branches. With the establishment of the Directorate of Technical Education in the late fifties, the College administration came under the control of the Government of Kerala. The College was shifted to the present sprawling 125 acres in 1960.
                    </p>
                    <p>
                        Over the years, the intake of students increased and as of now with eight full-fledged departments offering eight undergraduate, 27 postgraduate and doctoral programmes under the APJ Abdul Kalam Technological University, the College has around 4500 students, 311 teaching staff and 290 non-teaching staff. B.Tech, B.Arch, M.Tech, M.Plan, MCA and MBA  are also offered by the College.

                        Ever since the inception, the College has maintained its eminence as a leading Engineering College in India. According to NIRF ranking College of Engineering Trivandrum is placed in the 71st position.. The College ranks among the top in the country in the quality of its graduates and the number of top jobs held by its graduates. With such an eminence in the academic and curricular activities, the College is the most sought after Engineering College by the applicants of Engineering degree programmes in the state.
                    </p>
                    <p>
                        The college was established on 3 July 1939 as a part of the erstwhile University of Travancore, Kerala, India.

                        The college campus is situated in Kulathoor near Sreekariyam, 13 km from Thiruvananthapuram Central (railway station). Extending over 250 acres (1000,000 m2) of land, it has one of the most spacious campuses in the country. The Masterplan of the campus, and the magnificent main building and other structures in the campus were designed by Prof. Joseph. Chandra Alexander, who was the first Chief Architect and Chief Town planner of the Govt. of Kerala. He was also instrumental in starting the first Architectural education centre of the state in this college.
                        The main building resembles a spanner from the air, around which are spread the departmental buildings, library block, laboratories, workshops, hostels, a planetarium, staff quarters, canteens and stadiums. The campus is one of the greenest in the country, and has won accolades from environmentalists and nature enthusiasts alike.
                    </p>
                </div>
            </div>
            <div class="mission">
                <div class="m1">
                    <div class="m1-title">
                        <h3>Our mission</h3><br />
                    </div>
                    <div class="m1-text">
                        A centre of higher learning in engineering that nurtures inquisitive young minds, fosters innovative research and reaches out to the society, while incessantly improving itself.
                    </div>
                </div>
                <div class="m1">
                    <div class="m1-title">
                        <h3>Our vision</h3><br />
                    </div>
                    <div class="m1-text">
                        Impart Engineering knowledge and skills.
                        Mould professionals with integrity.
                        Nurture the spirit of innovation, creativity and sustainability to address needs of society.
                        Collaborate with industry, academic and research institutions of repute.
                    </div>
                </div>
                <div class="m1">
                    <div class="m1-title">
                        <h3>Quality policy</h3><br />
                    </div>
                    <div class="m1-text">
                        ABC College of Engineering is committed to develop as a centre of excellence in the field of engineering education by improving the academic performance of the students and supporting them for placement and higher education.
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>

