.banner img{
    width:100%;
    height:617px;
}

.container {
    margin-top: 50px;
    display: block;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

body {
    font-family: "Poppins", sans-serif;
    color: #6b6b6b;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title{
    text-align:center;
}

.details {
    display: flex; 
    align-items: center; 
}

.details-text {
    flex: 1; 
}

.details-text img {
    max-width: 100%;
    float: right;
    width: 350px;
    height: 300px;
    margin-left: 15px;
}

.mission{
    display:flex;
    align-items:center;
    background-color:#275ced;
    width:100%;
    height:250px;
    color:cornsilk;
    font-size:15px;
    padding-left:10px;
}
