.container {
    margin-top: 50px;
}

.heading {
    text-align: center;
    margin-bottom: 60px;
}

.header-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.btn btn-defaul {
    background-image: linear-gradient(to right, #ff5733, #ff8c1a);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 94%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
}
