body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(to left, #fca650, #faffd1);
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9999;
    box-shadow: 50px;
}

.logo {
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: end;
}

    .logo h4 {
        color: #eb7617;
        margin-left: 2px;
    }

    .logo img {
        height: 40px;
        width: auto;
    }

.menu a {
    color: #333333;
    text-decoration: none;
    margin-right: 40px;
}

    .menu a:hover {
        color: #eb7617;
    }


.footer {
    background-color: #4e4c4c;
    color: #fff;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}


.footer-social-icons {
    margin-top: 10px;
}

.footer-social-icons a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
}

.subnav {
    float: right;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

 .subnav:hover .subnavbtn {
        background-color: ghostwhite;
    }

.subnav-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: navajowhite;
    width: 25%;
    z-index: 1;
}

    .subnav-content a {
        float: right;
        color: #333333;
        text-decoration: none;
    }

        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content {
    display: block;
}
