body {
    font-family: Arial, sans-serif;
    background-image: url('../images/ab1.jpg');
    background-size: cover;
    margin: 0%;
}
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    margin-bottom:25px;
}

.c-img{
    padding:50px;
}

.form-title {
    background-image: linear-gradient(to left, #337ab7, #05a3f1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    background-image: linear-gradient(to left, #337ab7, #05a3f1);
    color: #fff;
    border: none;
}

small{
    color:red;
}

